<div>
    <!-- <div ng-include="nav.html"></div> -->
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">City</span>
        <input type="text" aria-describedby="basic-addon1" class="form-control" placeholder="City" ng-model="location">
    </div>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon2">Craving</span>
        <input type="text" aria-describedby="basic-addon2" class="form-control" placeholder="Restaurant or Item" ng-model="craving">
    </div>
    <div class="btn-group" role="group" aria-label="...">
        <button  class="btn btn-default" type="submit" ng-click="search()">Search</button>
        <button  class="btn btn-default" ng-click="watch()">Watched Restaurants</button>
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Zip Code History References
        <span class="caret"></span>
        </button>
            <ul class="dropdown-menu" name="zipcodedropdown" id="histValue" placeholder="Zip Code History">
                <li ng-repeat="option in history">
                    {{option.history[0]}}
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default" ng-repeat="restaurant in restaurants">
        <div class="panel-heading">
            <h3><a href="{{restaurant.url}}">{{restaurant.name}}</a></h3>
        </div>
        <div class="panel-body">
            <img src="{{restaurant.logoUrl}}" alt="Restaurant Logo" style="max-width=120px;max-height=120px;">
            <br>
            <div class="address"><u>Address: {{restaurant.streetAddress}}</u></div>
            <br>
            <div ng-repeat="(day, hours) in restaurant.hours">
                <div class="hours">{{day}}: {{hours[0]}}</div>
            </div>
            <br>
            <button class="btn-default" ng-click="save(restaurant)">Save to your Watchlist</button>
        </div>
        <!-- way to replace commas with <br>? or <li> -->
        <!-- <div class="col-xs-1 delete"> -->
        <!-- button class="btn btn-danger" ng-click="delete(restaurant.id)">X</button>
                deletes based on object key id-->
    </div>
</div>
