<div>
    <div ng-include="nav.html"></div>
    <div>
        <input type="text" id="city" placeholder="City" ng-model="location">
        <input type="text" id="craving" placeholder="Restaurant, Cuisine, Item, or Description" ng-model="craving">
        <button type="submit" ng-click="search()">Search</button>
        <button ng-click="watch()">Watched Restaurants</button>
        <select>
            <option ng-repeat="option in history">
                {{option.history[0]}}
            </option>
        </select>

      <!--   <label for="zipcode">Save Zipcodes to use later!</label>
        <input id="zipcode" type="text" class="zip">
        <button id="scode" ng-click="">Submit Zip Code</button> -->
<!--         <select ng-model="" ng-options>

        </select> -->
        <!-- use a function to take the input value and store it in a dropdown menu that
        searches based on selection -->
    </div>
    <div class="panel panel-default" ng-repeat="restaurant in restaurants">
        <div class="panel-heading">
            <h3><a href="{{restaurant.url}}">{{restaurant.name}}</a></h3>
        </div>
        <div class="panel-body">
            <img src="{{restaurant.logoUrl}}" alt="Restaurant Logo" style="max-width=120px;max-height=120px;">
            <div class="address">{{restaurant.streetAddress}}</div>
            <div ng-repeat="(day, hours) in restaurant.hours">
                <div class="hours">{{day}}: {{hours[0]}}</div>
            </div>
            <button class="save" ng-click="save(restaurant)">Save to your Watchlist</button>
        </div>
        <!-- way to replace commas with <br>? or <li> -->
        <!-- <div class="col-xs-1 delete"> -->
        <!-- button class="btn btn-danger" ng-click="delete(restaurant.id)">X</button>
                deletes based on object key id-->
    </div>
</div>
